<div class="col-xs-12 hacker-nav">
  <div class="logo">
    <%= image_tag("ycomb.png") %>
  </div>

  <%= form_tag jobs_path, method: :get, class: 'search-form' do %>

      <%= text_field_tag :search, params[:search], placeholder: 'Search Term( ex: ruby, data scientist )' %>

      <%= collection_select(:city, :location, @cities, :name, :name, {}, { class: 'form-control select-form' }) %>

      <%= submit_tag "Search", :class => 'btn btn-primary' %>

  <% end %>
</div>
