
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">

    <% if @jobs.any? %>
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    <% end %>

    <div class="row">
      <div class="col-xs-4">
        <% @jobs.each do |job| %>
          <div class="job-button" data-job="<%= job.content %>">
            <h1 id="<%= job.id %>" class="job-title">
              <%= raw job.company %><br>
              <%= time_ago_in_words(job.created_at) %> ago
            </h1>
          </div>

          <% if current_user && current_user.email == 'yangsunwoo@gmail.com' %>
            <%= link_to 'edit', edit_job_path(job) %>
            <%= link_to 'destroy', job_path(job), method: :delete, confirm: 'You sure bub?', remote: true %>
          <% end %>
        <% end %>
      </div>

      <div class="col-xs-8" id="result">
      </div>
    </div>
    

    <% if @jobs.any? %>
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    <% end %>

  </div>
</div>
