<div class="row">
	<div class="col-xs-10 col-xs-offset-1">


		<h1 class="center"><%= image_tag("ycomb.png") %> Hacker News Job Listings</h1>

		<% if !params[:search].blank? %>
			<h1 class="center"><span style="font-size: 14px">Showing <%= pluralize( @jobs.count, 'result') %> for</span><br/>'<%= params[:search] %>'</h1>
		<% end %>

		<%= form_tag jobs_path, method: :get, :class => 'form-inline center job-form' do %>
			<div class="form-group">
				<%= text_field_tag :search, params[:search], :class => 'form-control center' %>
			</div>
			<%= submit_tag "Search", :class => 'btn btn-primary' %>
		<% end %>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">

			<% if @jobs.any? %>
				<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
			<% end %>

			<div id="accordion">
				<% @jobs.each do |job| %>
					<div class="job_post">
						<h3><%=raw job.content.split('<p>')[0] %></h3>
						<%=raw job.content %>
						<em>Added <%= time_ago_in_words(job.created_at) %> ago</em><br>
						<%= link_to "Delete", job_path(job), data: { confirm: 'Are you sure?' }, method: :delete %><br>
						<%= link_to "Job page", job_path(job) %><br><br>
					</div>
				<% end %>
			</div>

			<% if @jobs.any? %>
				<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
			<% end %>

		</div><!-- row -->
	</div><!-- div -->


</div><!-- row -->
<script>
	$(function() {
	  $( "#accordion" ).accordion({
	    heightStyle: "content",
	    header: "h3",
	    active: false,
	    collapsible: true
	  });
	});
</script>